<!DOCTYPE html>
<html lang="en">
<head>
    <title>柠檬汽水🍋</title>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>
    <h1>JP's lemonade budget tracker    
    </h1>
    <p>
    <h1>
        乔纳森的柠檬汽水店
    </h1>
    </p>
    <!-- Loop through the items and provide details here -->
    <table>
        <tr>
            <th>Title</th>
            <th>Amount</th>        
        </tr>
        {% for item in items %}
        <tr>
            <td><a href="/show/{{item.id}}">{{item.Item_Title}}</a></td>
            <td id="amount">{{item.Item_Amount}}</td>
        </tr>
        {% endfor %}
    </table>
<p id="new">
    <a href="/new">Press here to add new items.</a>
</p>
<p>
    <a href="/new">小伙伴们，请点击这里添加项目</a>
</p>
</body>
</html>